<nav>
  <div class="nav-wrapper">
    <!-- Brand Logo -->
    <a href="#" class="brand-logo">Nate's No No Square</a>

    <!-- Sprachwahl und Hamburger-Menü -->
    <ul class="right">
      <!-- Sprachwahl -->
      <li>
        <a class="dropdown-trigger" href="#" data-target="language-dropdown">
          <i class="material-icons left">language</i>
        </a>
      </li>

      <!-- Hamburger-Menü Button -->
      <li>
        <a href="#" class="dropdown-trigger" data-target="menu-dropdown">
          <i class="material-icons">menu</i>
        </a>
      </li>
    </ul>
  </div>
</nav>

<!-- Dropdown für Sprachwahl -->
<ul id="language-dropdown" class="dropdown-content">
  <li><a href="#" (click)="switchLanguage('de')">Deutsch</a></li>
  <li><a href="#" (click)="switchLanguage('en')">English</a></li>
  <li><a href="#" (click)="switchLanguage('ja')">日本語</a></li>
</ul>

<!-- Dropdown für Menü -->
<ul id="menu-dropdown" class="dropdown-content">
  <li><a routerLink="/about-me">Profil</a></li>
  <li><a routerLink="/cv">Beruf und Arbeit</a></li>
  <li class="group-item">
    <ul class="sub-menu">
      <li><a [routerLink]="['/cv', 'new']">Neu</a></li>
    </ul>
  </li>
  <li><a routerLink="/books">Meine Bücher</a></li>
  <li><a routerLink="/projects">Meine Projekte</a></li>
  <li><a routerLink="/contact">Kontaktieren</a></li>
  <li *ngIf="isLoggedIn()">
    <button (click)="onLogout()">Logout</button>
  </li>
  
</ul>

<router-outlet></router-outlet>