<nav>
  <div class="nav-wrapper">
    <!-- Brand Logo -->
    <a routerLink="/about-me" class="brand-logo">{{ 'APP.TITLE' | translate }}</a>

    <!-- Sprachwahl und Hamburger-Menü -->
    <ul class="right">
      <!-- Sprachwahl -->
      <li>
        <a class="dropdown-trigger" href="#" data-target="language-dropdown">
          <i class="material-icons left">language</i>
        </a>
      </li>

      <!-- Hamburger-Menü Button -->
      <li>
        <a href="#" class="dropdown-trigger" data-target="menu-dropdown">
          <i class="material-icons">menu</i>
        </a>
      </li>
    </ul>
  </div>
</nav>

<!-- Dropdown für Sprachwahl -->
<ul id="language-dropdown" class="dropdown-content">
  <!-- 
    Falls du bei Klick nur die Sprache ändern willst, 
    kannst du das routerLink entfernen oder anpassen.
  -->
  <li>
    <a routerLink="/about-me" (click)="switchLanguage('de')">Deutsch</a>
  </li>
  <li>
    <a routerLink="/about-me" (click)="switchLanguage('en')">English</a>
  </li>
  <li>
    <a routerLink="/about-me" (click)="switchLanguage('ja')">日本語</a>
  </li>
</ul>

<!-- Dropdown für Menü -->
<ul id="menu-dropdown" class="dropdown-content">
  <li><a routerLink="/about-me">{{ 'APP.MENU.PROFILE' | translate }}</a></li>
  <li><a routerLink="/cv">{{ 'APP.MENU.CV' | translate }}</a></li>
  <li class="group-item">
    <ul class="sub-menu">
      <li>
        <a [routerLink]="['/cv', 'new']">{{ 'APP.MENU.NEW' | translate }}</a>
      </li>
    </ul>
  </li>
  <li><a routerLink="/books">{{ 'APP.MENU.BOOKS' | translate }}</a></li>
  <li><a routerLink="/projects">{{ 'APP.MENU.PROJECTS' | translate }}</a></li>
  <li><a routerLink="/contact">{{ 'APP.MENU.CONTACT' | translate }}</a></li>
  <li>
    <button (click)="onLogout()">{{ 'APP.MENU.LOGOUT' | translate }}</button>
  </li>
</ul>

<router-outlet></router-outlet>
