<nav>
  <div class="nav-wrapper">
    <!-- Brand Logo -->
    <a href="#" class="brand-logo">Mein Portfolio</a>

    <!-- Sprachwahl und Hamburger-Menü -->
    <ul class="right">
      <!-- Sprachwahl -->
      <li>
        <a class="dropdown-trigger" href="#" data-target="language-dropdown">
          <i class="material-icons left">language</i>
        </a>
      </li>

      <!-- Hamburger-Menü Button -->
      <li>
        <a href="#" class="dropdown-trigger" data-target="menu-dropdown">
          <i class="material-icons">menu</i>
        </a>
      </li>
    </ul>
  </div>
</nav>

<!-- Dropdown für Sprachwahl -->
<ul id="language-dropdown" class="dropdown-content">
  <li><a href="#" (click)="switchLanguage('de')">Deutsch</a></li>
  <li><a href="#" (click)="switchLanguage('en')">English</a></li>
  <li><a href="#" (click)="switchLanguage('ja')">日本語</a></li>
</ul>

<!-- Dropdown für Menü -->
<ul id="menu-dropdown" class="dropdown-content">
  <li><a routerLink="/about-me">Profil</a></li>
  <li><a routerLink="/cv">Beruf und Arbeit</a></li>
  <li><a href="#!">Meine Bücher</a></li>
  <li><a href="#!">Meine Projekte</a></li>
  <li><a href="#!">Kontaktieren</a></li>
</ul>

<router-outlet></router-outlet>